---
---

@import "../_css/normalize.scss";
@import "../_css/foundation.scss";
@import "../_css/foundation-icons.scss";
@import "../_css/docs.scss";

table {
  width: 100%;
}

img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 16px;
  max-width: 100%;
}

img.view {
  border-radius: 10px;
  border: 1px solid grey;
  padding: -2px;
  box-shadow: 5px 5px 2px lightgrey;
}

iframe {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

html,
body {
  font-family: "Verdana", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  font-size: 11pt;
}

p {
  line-height: 1.6;
}

tr.item {
  cursor: pointer;
  vertical-align: text-top;

  p {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
  }
}
signature {
  margin-left: 4rem;
}

@media only screen and (min-width: 40.063em) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}

.left-off-canvas-menu{
  background: none !important;  
}

.nav-prev {
  float: left;
}

.nav-next {
  float: right;
}

.highlight{
  padding: 5px;
}

code {
  all: revert !important;
}

div[class*="language-"] {
  position: relative;
  margin: 5px 0 ;
  padding: 1.75rem 0 1.75rem 1rem;
}

div[class*="language-"] button{
  position: absolute;
  top: 35px;
  right: 5px;
  border-radius: 8px;
  background-color: grey;
  padding: 5px;
}

