---
---

@import "../_css/normalize.scss";
@import "../_css/foundation.scss";
@import "../_css/foundation-icons.scss";
@import "../_css/docs.scss";

table {
    width: 100%;
}

img { width: auto; max-width: fit-content;}

img.view {
    border-radius: 10px;
    border: 1px solid grey;
    padding: -2px;
    box-shadow: 5px 5px 2px lightgrey;
}

iframe {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body { 
    font-family: Open Sans;
    font-size: 10pt;
}

p {
    font-size: 0.9rem;
    line-height: 1.6;
}