---
---

@import "../_css/normalize.scss";
@import "../_css/foundation.scss";
@import "../_css/foundation-icons.scss";
@import "../_css/docs.scss";

table {
  width: 100%;
}

img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

img.view {
  border-radius: 10px;
  border: 1px solid grey;
  padding: -2px;
  box-shadow: 5px 5px 2px lightgrey;
}

iframe {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

html {
  font-family: Open Sans;
  font-size: 13pt;
}

p {
  line-height: 1.6;
}

tr.item {
  cursor: pointer;
  vertical-align: text-top;

  p {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
  }
}
signature {
  margin-left: 4rem;
}
