



<div class="row main-container">
	<div class="large-12 medium-4 small-4 columns">
		<hr style="margin-top: 20px" />
	</div>
</div>
<div class="row main-container">
    <div class="large-3 medium-4 small-4 columns">
        <img src="/images/favicon.ico">
    </div>
    <div class="large-6 medium-4 small-4 columns">
    </div>
    <div class="large-3 medium-4 small-4 columns">
        <p style="text-align:right">
        <a href="https://github.com/bndtools/bndtools.github.io/edit/master/{{page.path}}"><svg class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path></svg></a>
        </p>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/foundation.min.js"></script>

<script>
    $( document ).ready(function() {
        $(document).foundation();
    });
</script>
