<ul class="side-nav">
  {% for section in site.data.sidebar.nav %}
    {% if section.title %}
      <li class="heading">{{ section.title }}</li>
    {% endif %}
    {% for link in section.links %}
      {% if link.divider %}
        <li class="divider" />
      {% else %}
        <li class="{% if page.url contains link.url %}active{% endif %}">
          <a href="{{ link.url }}" {% if link.external %}class="external-left"{% endif %}>
            {{ link.name }}
          </a>
          {% if link.sublinks %}
            <ul>
              {% for sublink in link.sublinks %}
                <li class="{% if page.url contains sublink.url %}active{% endif %}"><a href="{{ sublink.url }}">{{ sublink.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

