<ul class="side-nav">

<li><a href="/">Home</a></li>
<li><a href="/community.html">Community</a></li>

<li class="divider"/>
<li class="heading">Documentation</li>
<li><a href="/concepts.html">Workspace Concepts</a></li>
<li><a href="/installation.html">Installation</a></li>
<li><a href="/workspace.html">Workspace Start</a></li>
<li><a href="/tutorial.html">Tutorial</a></li>
<li><a href="/manual/about.html">Bndtools Reference</a>
    {% if page.url contains '/manual' %}
    <ul>
        <li><a href="/manual/packageexplorer.html">Package Explorer</a>
        <li><a href="/manual/repositories-view.html">Repositories View</a>
        <li><a href="/manual/resolution-view.html">Resolution View</a>
        <li><a href="/manual/bndeditor.html">The bnd Editor</a>
        <li><a href="/manual/jareditor.html">The JAR Viewer</a>
    </ul>
    {% endif %}
<li><a class="external-left" href="https://bnd.bndtools.org">bnd manual</a></li>
<li><a href="/faq.html">FAQ</a></li>

<li class="divider"/>
<li class="heading">Development</li>
<li><a class="external-left" href="https://github.com/bndtools/bnd/issues">Bug Reports</a></li>
<li><a class="external-left" href="https://github.com/bndtools/bnd/blob/master/CONTRIBUTING.md">Contributing</a></li>
<li><a href="/acknowledge.html">Acknowledgements</a></li>

</ul>
