<!DOCTYPE html>
<html lang="en">
  {% include head.htm %}

  <body>
    {% include nav.htm %}

    <div class="row main-container">

      <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
      <script src="/pagefind/pagefind-ui.js"></script>
      <div id="search"></div>
      <script>
          window.addEventListener('DOMContentLoaded', (event) => {
              new PagefindUI({ element: "#search", showSubResults: true });
          });
      </script>

      <!-- Main Content -->
      <div class="large-9 medium-8 medium-push-4 large-push-3 columns">
        <div class="off-canvas-wrap move" data-offcanvas>
          <div class="inner-wrap">
        
            <a role="button" href="#" class="show-for-small-only left-off-canvas-toggle menu-icon" style="background-color: darkgray;" ><span></span></a>
        
            <!-- Off Canvas Menu -->
            <aside id="#" class="left-off-canvas-menu" aria-hidden="true">
                <!-- whatever you want goes here -->
                {% include sidebar.htm %}
            </aside>
            
            <!-- main content goes here -->
            <main data-pagefind-body>
            {{content}}
            </main>
          <!-- close the off-canvas menu -->
          <a class="exit-off-canvas"></a>
        
          </div>
        </div>

        
       
      </div>
      
      <!-- Sidebar -->
      <div class="hide-for-small-only large-3 medium-4 medium-pull-8 large-pull-9 columns">
        <div class="sidebar">
          <nav>
            {% include sidebar.htm %}
          </nav>
        </div>
      </div>

      


    </div>

    {% include footer.htm %}
  </body>
</html>
