---
layout: default
---

{% assign prev = nil %}
{% assign next = nil %}
{% assign prevTitle = nil %}
{% assign nextTitle = nil %}
{% assign in_loop = false %}

{% for entry in site[page.collection] %}
  {% if in_loop %}
    {% assign next = entry.url %}
    {% assign nextTitle = entry.title %}
    {% break %}
  {% endif %}
  
  {% if entry.url == page.url %}
    {% assign in_loop = true %}
    {% continue %}
  {% endif %}
  
  {% if forloop.last == false %}
    {% assign prev = entry.url %}
    {% assign prevTitle = entry.title %}
  {% endif %}
{% endfor %}

{{ content }}
<hr/>

{% unless forloop.first %}
  {% if prev %}
    <a class="nav-prev" href="{{ prev }}" title="{{prevTitle}}">Prev</a>
  {% endif %}
{% endunless %}

{% unless forloop.last %}
  {% if next %}
    <a class="nav-next" href="{{ next }}" title="{{nextTitle}}">Next</a>
  {% endif %}
{% endunless %}