---
layout: default
---

{% assign prev = nil %}
{% assign next = nil %}
{% assign in_loop = false %}

{% for service in site[page.collection] %}
  {% if in_loop %}
    {% assign next = service.url %}
    {% break %}
  {% endif %}
  
  {% if service.url == page.url %}
    {% assign in_loop = true %}
    {% continue %}
  {% endif %}
  
  {% if forloop.last == false %}
    {% assign prev = service.url %}
  {% endif %}
{% endfor %}

{{ content }}
<hr/>

{% unless forloop.first %}
  {% if prev %}
    <a class="nav-prev" href="{{ prev }}">Prev</a>
  {% endif %}
{% endunless %}

{% unless forloop.last %}
  {% if next %}
    <a class="nav-next" href="{{ next }}">Next</a>
  {% endif %}
{% endunless %}