name: CI Build

on:
  push:
    branches-ignore:
    - 'dependabot/**'
  pull_request:

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  GitHub_Pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: Gemfile
      BUNDLE_PATH: vendor/bundle
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@ebacdc22ef6c2cfb85ee5ded8f2e640f4c776dd5 # v2.0.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Git Checkout
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
    - name: Set up Ruby
      uses: ruby/setup-ruby@31a7f6d628878b80bc63375a93ae079ec50a1601 # v1.143.0
      with:
        ruby-version: 2.7
        bundler-cache: true
    - name: Build
      run: |
        ./.github/scripts/docs.sh
