name: CI Build

on:
  push:
    branches-ignore:
    - 'dependabot/**'
  pull_request:

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read
  pages: write
  id-token: write

jobs:
  GitHub_Pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: Gemfile
      BUNDLE_PATH: vendor/bundle
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Git Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Ruby
      uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # v1.287.0
      with:
        ruby-version: 3.4.5
        bundler-cache: true
    
    # Download and install the Pagefind binary
    # see releases: https://github.com/CloudCannon/pagefind/releases
    - name: Install Pagefind for Search
      run: |
        curl -L https://github.com/CloudCannon/pagefind/releases/download/v1.3.0/pagefind-v1.3.0-x86_64-unknown-linux-musl.tar.gz \
          -o pagefind.tar.gz
        tar xzf pagefind.tar.gz
        chmod +x pagefind
    
    - name: Build
      run: |
        ./.github/scripts/docs.sh
    
    - name: Upload artifact
      # Automatically uploads an artifact from the './_site' directory by default
      uses: actions/upload-pages-artifact@v4

    
  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: GitHub_Pages
    if: github.ref == 'refs/heads/master'  # <= Restrict deploy to master
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
